.aside-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px;
    gap: 24px;

    background: var(--White);
    border-radius: 12px;
}

.aside-container h1 {
    font: var(--Text-Preset-2);
    color: var(--Red);

    text-align: left;
}

.empty-car {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    gap: 16px;

    width: 336px;
    height: 195px;
}

.aside-container img {
    width: 128px;
    height: 128px;
}

.empty-cart p {
    color: var(--Rose-500);
    font: var(--Text-Preset-4-Bold);
}

/* Cart Full */

.aside-container ul {
    width: 100%;
}

.aside-container ul h3 {
    font: var(--Text-Preset-4-Bold);
    color: var(--Rose-900);
}

.full-cart {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.aside-container ul>div {
    display: flex;
    gap: 8px;
}

.aside-container li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--Rose-100);
}

.aside-container li:not(:first-child) {
    padding-top: 16px;
}

.quantities-of {
    font: var(--Text-Preset-4-Bold);
    color: var(--Red);
}

.fixed-price {
    font: var(--Text-Preset-4);
    color: var(--Rose-500);
}

.total-of {
    font: var(--Text-Preset-4-Bold);
    color: var(--Rose-500);
}

.aside-container ul li div:first-child {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aside-container ul li div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.aside-container ul li img {
    width: 20px;
    height: 20px;
}

.order-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 24px;
    width: 100%;
    color: var(--Rose-900);
}

.order-total p {
    font: var(--Text-Preset-4);

}

.order-total h3 {
    font: var(--Text-Preset-2);
    font-weight: bolder;
}

.carbon-neutral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 100%;
    border-radius: 8px;
    background: var(--Rose-50);

    font: var(--Text-Preset-4);
}

.carbon-neutral img {
    width: 20px;
    height: 20px;
}


.aside-container button {

    padding: 16px 24px;
    gap: 8px;

    width: 100%;
    height: 53px;

    background: var(--Red);
    border-radius: 999px;

    color: var(--White);
    border: none;

    font: var(--Text-Preset-3);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

