.aside-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px;
    gap: 24px;

    background: var(--White);
    border-radius: 12px;
}

.aside-container h1 {
    font: var(--Text-Preset-2);
    color: var(--Red);

    text-align: left;
}

.empty-car {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    gap: 16px;

    width: 336px;
    height: 195px;
}

.aside-container img {
    width: 128px;
    height: 128px;
}

.empty-car p {
    color: var(--Rose-500);
    font: var(--Text-Preset-4-Bold);
}

