.main-container{
    display: flex;
    flex-direction: column;
    align-items: ;
}


/* Item

/* Auto layout */
/* display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 250.67px;
height: 347px;


/* Inside auto layout */
/* flex: none;
order: 0;
flex-grow: 1; */ 
